.data-area {
  background-color: #F5F5F5;
  color: #50758C;
  display: inline-block;
  height: 100vh;
  float: right;
  text-align: center;
  width: 40%;

  h2 {
    font-size: 29px;
    text-decoration: underline #C5C7A6;
  }

  .key {
    font-size: 20px;
    font-weight: 800;
    padding-left: 25px;
  }

  .value {
    font-size: 20px;
    padding: 10px 15px;
  }
}
