.data-area {
  background-color: #F5F5F5;
  color: #50758C;
  display: inline-block;
  height: 100vh;
  float: right;
  text-align: center;
  width: 40%; }
  .data-area h2 {
    font-size: 29px;
    text-decoration: underline #C5C7A6; }
  .data-area .key {
    font-size: 20px;
    font-weight: 800;
    padding-left: 25px; }
  .data-area .value {
    font-size: 20px;
    padding: 10px 15px; }
  .data-area img {
    width: 295px;
    height: 100px; }
  .data-area .split {
    display: flex;
    flex-direction: column; }
