.data-area {
  background-color: #F5F5F5;
  color: #50758C;
  display: inline-block;
  height: 100vh;
  float: right;
  text-align: center;
  width: 40%; }
  .data-area h2 {
    text-decoration: underline #C5C7A6; }
  .data-area .key {
    font-size: 18px;
    font-weight: 800; }
  .data-area .value {
    font-size: 18px; }
