.search-area {
  background-image: url('../../assets/aspen2.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    .title {
      color: #ffffff;
      font-size: 55px;
      font-family: 'Montserrat', sans-serif;
      margin: 12px 0px;
      
    }

    .search-bottom {
      display: flex;
      flex-direction: row;
      font-size: 14px;

    .search-bar {
      color: #8C8D46;
      font-size: 24px;
      height: 27px;
      margin: 7px 0px;
      width: 345px;
    }

    button {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      height: 21px;
      padding: 0px 20px;
      margin: 12px 10px;
      &:hover { 
        background-color: #50758C; 
        color: white;
      }
    }
  }
}


