.search-area {
  background-image: url("../../assets/aspen2.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .search-area .title {
    color: #ffffff;
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    margin: 12px 0px; }
  .search-area .search-bottom {
    display: flex;
    flex-direction: row;
    font-size: 14px; }
    .search-area .search-bottom .search-bar {
      color: #8C8D46;
      font-size: 24px;
      height: 27px;
      margin: 7px 0px;
      width: 345px; }
    .search-area .search-bottom button {
      border-radius: 3px;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      height: 25px;
      padding: 0px 20px;
      margin: 12px 10px; }
      .search-area .search-bottom button:hover {
        background-color: #50758C;
        color: white; }
